
.node-form div, .node-form fieldset {
  float: none; clear: both;
}
.add-n-reference .form-item {
  float: left; clear: left;
  margin: 2px 0;
}
.add-n-reference .add-n-reference-buttons {
  clear: right;
}
.add-n-reference .field-single input {
  margin-top: 0.95em;
}
.add-n-reference .field-select {
  margin-top: 1.05em;
  margin-left: 10px;
}
.add-n-reference .field-select input {
  display: block;
  margin: 4px 0;
}


